@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

body {
    font-family: Source Sans Pro, Lato;
    margin: 0;
    padding: 0;
    border: none;
}


h1, h2, h3 {
    font-family: Montserrat, Open Sans;
}

/* Header styles */
#title {
    color:#3D3D3D;
    background-color: #99B4BF;
    text-align: center;
    font-size: 300%;
    margin: 0;
    padding: 0;
}

#nav {
    color:#3D3D3D;
    background-color: #99B4BF;
    display: inline-block;
    width: 100%;
}

#nav ul {
    margin: 0;
    padding: 0;
}

#nav li {
    float: left;
    list-style-type: none;
    width: 33.2%;
    height: 30px;
    margin: 0;
    padding: 15px 0;
    border: solid 1px #3D3D3D;
    text-align: center;
    font-size: 150%;
}

#nav a {
    text-decoration: none;
    color:#3D3D3D;
}

#nav a:hover {
    text-decoration: none;
    color:#fff;
}

/* Main image section */

#hero_image {
    background-image: url(/assets/images/hero-image.jpg);
    background-size: 100%;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right 50% bottom 30%;
}